{% extends 'base.html.twig' %}

{% block title %}Коммерческое предложение - «Ремонт Кофемашин»{% endblock %}
{% block description %}Коммерческое предложение{% endblock %}
{% block h1 %}Коммерческое предложение{% endblock %}

{% block body %}
<div class="container commercial-offer">
    <h2>Коммерческое предложение</h2>
    <p class="bold">Наша компания занимается ремонтом кофемашин уже более 3-х лет. И мы можем уверенно заявить – сервисный центр нашей компании – это оперативный и надежный помощник.</p>
    <p class="bold">Мы осуществляем ремонт и обслуживание кофейного оборудования ведущих производителей.</p>
    <p> Многие серьезные неисправности можно предотвратить, если тщательно следить за состоянием устройства, и обеспечить ей полагающийся профилактический уход, что поможет не тратиться на ремонт кофемашины. Проводя современную очистку и профилактическое обслуживание, вы тем самым продлеваете срок ее использования и застраховываете себя от неожиданных поломок.</p>
    <p class="bold italic underline larger">Для экономии вашего времени и средств наша компания готова предложить Вам техническое обслуживание кофемашин. </p>
    <p>Наша компания предлагает несколько вариантов технического обслуживания.</p>
    <p class="red underline larger">1 вариант:</p>
    <ul class="list-disc">
        <li> ежемесячное проведение чистки кофемашины от масел + проверка всех узлов на работоспособность. Стоимость услуги составляет 1 800-00 рублей;</li>
        <li> полная чистка кофемашины с ее разбором (проводится в сервисном центре 1 раз в 6 месяцев). Стоимость услуги составляет 9 000-00 рублей.</li>
        <li> в случае поломки кофемашины ремонт производится согласно прайсу.</li>
        <li> на время проведения любых ремонтных работ в сервисном центре предоставляется подменная кофемашина.</li>
    </ul>
    <p class="red underline larger">2 вариант:</p>
    <p class="bold larger">Помимо качественного и надежного обслуживания кофемашины, ей необходимо приготовить вкусный кофе, а это возможно только с кофе марки «SORRISO», предлагаемой нашей компанией.</p>
    <p>В настоящее время, «Sorriso» - это большая компания, продукцию которой можно найти в лучших итальянских кафе и ресторанах, гостиницах и офисах, супермаркетах и торговых точках по всему миру.</p>
    <p class="italic underline">«Sorriso» - Это итальянское гостеприимство и высококачественный кофе.</p>
    <p> Для предоставления услуги по техническому обслуживанию кофемашины Вам необходимо ежемесячно приобретать ароматный кофе, а нам доставлять его, <span class="bold italic underline">и взять расходы по обслуживанию кофемашин на себя.</span> </p>
    <h2>Прайс-лист для предоставления услуги </h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Описание</th>
            <th>Цена от 15 кг ежемесячно (руб)</th>
            <th>Цена от 20 кг ежемесячно (руб)</th>
            <th>Предоставляемые услуги по техническому обслуживанию</th>
        </tr>
        <tr>
            <td>
                <p class="bold italic underline">Crema e Gusto</p>
                <p>Смесь мягких Бразильских и Центрально-Американских сортов и нежных сладких Индонезийских. </p>
                <p>Бархатистый, нежный, с шоколадным оттенком вкус. Длительное послевкусие и нежный сладковатый аромат.</p>
                <ul class="list-disc">
                    <li>Вес 1 кг.</li>
                    <li>95% Арабика</li>
                    <li>5% Робуста.</li>
                    <li>Средняя обжарка.</li>
                    <li>Вакуумная упаковка со специальным клапаном.</li>
                </ul>
            </td>
            <td>1 250-00</td>
            <td>1 150-00</td>
            <td rowspan="3">
                <ul class="list-disc">
                    <li>Ежемесячная очистка кофемашины от масел.</li>
                    <li>Ежемесячная провера узлов на работоспособность.</li>
                    <li>Полная чистка кофемашины 1 раз в 6 месяцев:
                        <ul>
                            <li>диагностика с разбором основных узлов</li>
                            <li>декальцинация гидросистемы (длительное химическое воздействие с разбором)</li>
                            <li>чистка групп приготовления (механическая и химическая чистки с частичным разбором)</li>
                            <li>обслуживание паровых кранов (полный разбор, замена расходных материалов)</li>
                            <li>обслуживание крана подачи горячей воды (полный разбор, замена расходных материалов)</li>
                            <li>обслуживание системы клапанного регулирования (механическая и химическая чистки с заменой расходных материалов)</li>
                            <li>обслуживание помпы (насоса)</li>
                            <li>настройка прессостата</li>
                            <li>чистка внешней части корпуса</li>
                        </ul>
                    </li>

                </ul>
                <p class="bold">!!! При поломке кофемашины работа по ремонту осуществляется бесплатно.</p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="bold italic underline">Dolce </p>
                <p>Крепкий богатый интенсивный аромат мягкой бразильской Арабики и насыщенный терпкий вкус индонезийской Робусты.</p>
                <p>Длительное шоколадное послевкусие. Бархатистая устойчивая пенка. </p>
                <ul class="list-disc">
                    <li>Вес: 1 кг.</li>
                    <li>70% Арабика</li>
                    <li>30% Робуста.</li>
                    <li>Средняя обжарка.</li>
                    <li>Вакуумная упаковка со специальным клапаном.  </li>
                </ul>
            </td>
            <td>1 050-00</td>
            <td>950-00</td>
        </tr>

        <tr>
            <td>
                <p class="bold italic underline">Gusto Aroma</p>
                <p>Очень популярная смесь лучших сортов Бразильской и Централь-Американской Арабики и отборной Робусты из разных уголков Африки. </p>
                <p>Отличается ярко выраженным ароматом и вкусом с приятным продолжительным шоколадным послевкусием и густой пеной.</p>
                <ul class="list-disc">
                    <li>Вес: 1 кг</li>
                    <li>90% Арабика</li>
                    <li>10% Робуста</li>
                    <li>Средняя обжарка</li>
                    <li>Вакуумная упаковка со специальным клапаном.</li>
                </ul>
            </td>
            <td>1 150-00</td>
            <td>1 050-00</td>
        </tr>
    </table>
    <p class="bold italic underline larger">Для принятия правильного решения, закажите бесплатную дегустацию прямо сейчас!</p>
    <h2>Наши контакты:</h2>
    <p class="bold">тел.: 8(495)015-60-98</p>
    <p class="bold">e-mail: remont-kofemahin@mail.ru</p>
    <p class="bold">сайт:www.remont-kofemashin.com </p>
    <p class="bold larger">Всегда Вам рады</p>
</div>
{% endblock %}
