{% extends 'page_with_callback_form.html.twig' %}

{% block title %}Контакты - «Ремонт Кофемашин»{% endblock %}
{% block description %}Контакты.{% endblock %}
{% block h1 %}Контакты{% endblock %}

{% block content %}
    Вставить текст в файле templates/page/contacts.html.twig
    <div class="cena-wrap">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="btn-wrap"><button class="btn1 btn-vizovbespldiagn">Бесплатная диагностика</button></div>

            </div>
        </div>

    </div>
{% endblock %}