{% extends 'page_with_callback_form.html.twig' %}

{% block title %}Контакты - «Ремонт Кофемашин»{% endblock %}
{% block description %}Контакты.{% endblock %}
{% block h1 %}Контакты{% endblock %}

{% block content %}
    <h2>Сервисный центр «Ремонт Кофемашин»</h2>
    <p><strong>Контактный номер:</strong> 8(495)015-60-98</p>
    <p><strong>Whats App:</strong> +79254061310</p>
    <p><strong>Почта:</strong> remont-kofemahin@mail.ru</p>
    <h2>Схема проезда: </h2>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A66ca795d479419a350789ed628e92150577abceed983b1ed8469071fbdf979f6&amp;width=100%&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    <div class="cena-wrap">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="btn-wrap"><button class="btn1 btn-vizovbespldiagn">Бесплатная диагностика</button></div>

            </div>
        </div>

    </div>
{% endblock %}