{% extends 'page_with_callback_form.html.twig' %}

{% block title %}Гарантия на ремонт кофемашин - «Ремонт Кофемашин»{% endblock %}
{% block description %}Гарантия на ремонт кофемашин.{% endblock %}
{% block h1 %}Гарантия на ремонт кофемашин{% endblock %}

{% block content %}
    <h2>Гарантия на ремонт кофемашин</h2>
    <p>Мы уверены в качестве свой работы, поэтому на весь ремонт мы предоставляем гарантию 2 года!</p>
    <p>И предоставляем скидки постоянным клиентам и на последующее обслуживание кофемашин</p>
    <div class="cena-wrap">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="btn-wrap"><button class="btn1 btn-vizovbespldiagn">Бесплатная диагностика</button></div>

            </div>
        </div>

    </div>
{% endblock %}