@media (max-width: 1199px) {
    .block2 .border-bottom3 .usl {
        border: none;
    }
    .block6 .brand-slider .slide-wrap .slide-column {
        width: 134px;
    }
    .whatsappblock {
        margin-top: 140px;
        padding-bottom: 120px;
        padding-top: 120px;
    }
    .whatsappblock .wt3d a .wtphone {
        width: 200px;
        left: 150px;
        bottom: -60px;
    }
}
@media (max-width: 991px) {
    .k_header .k_menu .k_nav ul li a {
        font-size: 14px;
        padding: 15px 10px;
    }
    .block3 .container {
        max-width: 760px;
    }
    .block6 .brand-slider .slide-wrap .slide-column {
        width: 115px;
    }
    .footer .dn920 {
        display: none;
    }
    .cartochkabrenda-img {
        text-align: center;
    }
    .cartochkabrenda-img img {
        max-width: 280px;
    }
    .cartochkabrenda-container {
        padding: 20px;
    }
    .block-uslugi .uslugi-form .zag2 {
        font-size: 24px;
    }
    .whatsappblock {
        margin-top: 0px;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .whatsappblock .wt3d a .wtphone {
        display: none;
    }
}
@media (max-width: 767px) {
    .k_header .k_menu .burger {
        display: block;
    }
    .k_header .k_menu .k_nav .grmenu {
        max-width: 100%;
        height: 100vh;
        display: none;
    }
    .k_header .k_menu .k_nav .grmenu li {
        display: block!important;
        width: 100%;
        text-align: center;
    }
    .k_header .k_menu .k_nav .grmenu li a {
        font-size: 16px;
    }
    .block1 .wrapper {
        padding-top: 80px;
    }
    .block1 .wrapper .zag {
        margin-top: 50px;
    }
    .block1 .wrapper .zag h1 {
        font-size: 30px;
    }
    .block1 .wrapper .offer {
        margin-top: 30px;
        padding: 15px;
    }
    .block2 .border-bottom2 .usl {
        border: none;
    }
    .block6 .brand-slider .slide-wrap .slide-column {
        width: 127px;
    }
    .footer .dn760 {
        display: none;
    }
    .block-uslugi .uslugi-form {
        padding-bottom: 40px;
    }
    .block-uslugi .uslugi-osn {
        padding-left: 0px;
    }
    .whatsappblock {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .whatsappblock .wt3d {
        text-align: center;
    }
    .whatsappblock .wt3d img {
        width: 100px;
    }
    .whatsappblock .dn760 {
        display: none;
    }
}
@media (max-width: 576px) {
    .block1 .wrapper {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
    .block1 .wrapper .logo img {
        width: 95px;
    }
    .block1 .wrapper span a {
        font-size: 22px;
    }
    .block1 .wrapper .zag h1 {
        font-size: 27px;
    }
    .block1 .wrapper .offer span {
        font-size: 18px;
    }
    .block1 .wrapper .offer span img {
        display: none;
    }
    .block3 .preim {
        width: 290px;
        margin-top: 70px;
    }
    .block3 .preim-text {
        font-size: 16px;
    }
    .block6 .brand-slider .slide-wrap .slide-column {
        width: auto;
        height: auto;
    }
    .footer {
        margin-top: 60px;
    }
    .footer .dn570 {
        display: none;
    }
    .footer-wrap1 {
        text-align: center;
        padding-top: 20px;
    }
    .modal1-container .modal1 {
        width: 280px;
        padding: 20px;
    }
    .modal1-container .modal1 .zag {
        font-size: 14px;
    }
    .modal1-container .modal1 input {
        padding: 10px;
        margin-top: 20px;
    }
    .cartochkabrenda-container .cartochkabrenda-text .zag2 {
        margin-top: 20px;
    }
    .cartochkabrenda-container .cartochkabrenda-text ul li {
        font-size: 16px;
    }
    .cartochkabrenda-container .cartochkabrenda-text .btn {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    .cartochkabrenda-container .cartochkabrenda-text .price {
        font-size: 16.1px;
    }
    .whatsappblock .wt3d {
        margin-bottom: 20px;
    }
    .whatsappblock .wt3d img {
        width: 100px;
    }
    .whatsappblock .wtbtn a {
        width: 290px;
        font-size: 18px;
    }
    .whatsappblock .wtbtn a b {
        font-size: 22px;
    }
}
@media (max-width: 400px) {
    .block2 .col-xl-4 {
        margin-bottom: 10px;
    }
    .block2 .usl {
        font-size: 15px;
        padding-top: 10px;
    }
    .block2 .usl .f-l a {
        font-size: 13px;
    }
    .block2 .usl .f-r .price {
        font-size: 16px;
        padding-bottom: 2px;
    }
    .block2 .usl .f-r .btn {
        font-size: 13px;
    }
    .block-uslugi .uslugi-osn .cena-wrap .btn-wrap {
        padding-top: 15px;
        text-align: center;
    }
}
