<!-- Второй блок (Услуги и цены) блок -->
<div class="block2">
    <div class="container-fluid">
        <div class="zag1">Услуги и цены</div>
        {{ include('modules/main/_breakdowns.html.twig') }}
        {{ include('modules/main/_diagnostics.html.twig') }}
    </div>
</div>
<!--Конец второго блока-->