<div class="cartochkabrenda">
    <div class="container">
        <div class="cartochkabrenda-container">
            <div class="row">
                <div class="col-lg-5  cartochkabrenda-img">
                    <img src="{{ type.cardImage }}" alt="{{ type.name }}">
                </div>
                <div class="col-lg-7  cartochkabrenda-text">
                    <div class="zag2">{{ type.metaTitle }}</div>
                    {{ type.textComputed|raw }}
                    <p class="minutp">Получите предложение уже через 7 минут</p>
                    <button class="btn btn-vizovbespldiagn">Бесплатная диагностика</button>
                </div>
            </div>
        </div>
    </div>

</div>