<!--Модальное окно "Рассчитать стоимость"-->
<div class="modal1-wrap modalst-wrap">
    <div class="modal1close modalstclose"></div>
    <div class="modal1-container">
        <div class="modal1">
            <form action="#">
                <div class="zag">Рассчитать стоимость</div>
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Телефон">
                <input type="submit" class="modal1-btn modalst-btn">
            </form>
        </div>
    </div>
</div>
<!--Конец модального окна-->