<!--Модальное окно "Рассчитать стоимость"-->
<div class="modal1-wrap modalst-wrap">
    <div class="modal1close modalstclose"></div>
    <div class="modal1-container">
        <div class="modal1">
            <form class="callback-form" name="callback-form" action="">
                <div class="zag">Рассчитать стоимость</div>
                <input type="text" name="name" id="callback-name" placeholder="Ваше имя">
                <input type="text" name="phone" id="callback-phone" class="phone-field"  placeholder="Номер телефона">
                <input type="submit" class="modal1-btn modalst-btn">
            </form>
        </div>
    </div>
</div>
<!--Конец модального окна-->