<!--Пятый блок (Виды кофемашин)-->
<div class="block5">
    <div class="container">
        <h2 class="zag1">Виды кофемашин</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-6 vidi">
                <div class="img-wrap">
                    <img src="{{ asset('img/avtomaticheskie.png') }}" alt="*">
                </div>
                <span>Автоматические<br> кофемашины</span>
            </div>
            <div class="col-lg-3 col-sm-6 vidi">
                <div class="img-wrap">
                    <img src="{{ asset('img/kapsulnue.png') }}" alt="*">
                </div>
                <span>Капсульные <br> кофемашины</span>
            </div>
            <div class="col-lg-3 col-sm-6 vidi">
                <div class="img-wrap">
                    <img src="{{ asset('img/chaldovue.png') }}" alt="*">
                </div>
                <span>Чалдовые (порционные) <br> кофемашины</span>
            </div>
            <div class="col-lg-3 col-sm-6 vidi">
                <div class="img-wrap">
                    <img src="{{ asset('img/rozkovue.png') }}" alt="*">
                </div>
                <span>Рожковые <br>кофемашины</span>
            </div>
        </div>
    </div>
</div>
<!--Конец Пятого блока-->