<!--Пятый блок (Виды кофемашин)-->
<div class="block5">
    <div class="container">
        <h2 class="zag1">Виды кофемашин</h2>
        <div class="row">
            {% for type in types %}
            <div class="col-lg-3 col-sm-6 vidi">
                <div class="img-wrap">
                    <a href="{{ path('type',{type:type.alias}) }}">
                        <img src="{{ asset('img/type_images/'~type.image) }}" alt="{{ type.name }}">
                    </a>
                </div>
                <span>{{ type.name }}</span>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!--Конец Пятого блока-->