<!--Модальное окно "Заказать звонок"-->
<div class="zakzv-wrap modal1-wrap">
    <div class="zakzvclose modal1close"></div>
    <div class="zakzv-container modal1-container">
        <div class="zakzvonok modal1">
            <form class="callback-form" name="callback-form" action="">
                <div class="zag">Введите в поле ваш номер телефона:</div>
                <input type="text" name="name" id="callback-name" placeholder="Ваше имя">
                <input type="text" name="phone" id="callback-phone" class="phone-field"  placeholder="Номер телефона">

                <input type="submit" class="modal1-btn zvonok-btn">
            </form>
        </div>
    </div>
</div>
<!--Конец модального окна-->