<!--Шапка начало-->
<div class="k_header">
    <div class="k_menu">
        <div class="k_nav">
            <span class="burger"><img src="{{ asset('img/menu.png') }}" alt=""></span>
            <ul class="grmenu">
                <li><a href="#">Прайс лист</a></li>
                <li><a href="#">Неисправности</a></li>
                <li><a href="#">Обслуживаем бренды</a></li>
                <li><a href="#">Диагностика</a></li>
                <li><a href="#">Гарантия</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Шапка конец-->