<!-- Второй блок (Услуги и цены) блок -->
<div class="block2">
    <div class="container-fluid">
        <div class="zag1">Услуги и цены</div>
        <div class="zag2">Цены по неисправностям</div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не запускается</a></div>
                    <div class="f-r">
                        <div class="price">от 600 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l">
                        <a href="#">Нет подачи воды</a>
                    </div>
                    <div class="f-r">
                        <div class="price">от 470 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не делает пар </a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не делает пену</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина начала протекать</a></div>
                    <div class="f-r">
                        <div class="price">от 790 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не нагревает воду</a></div>
                    <div class="f-r">
                        <div class="price">от 690 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не подаёт кофе </a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не измельчает кофе</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Кофемашина не делает кофе</a></div>
                    <div class="f-r">
                        <div class="price">от 890 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Появляется ошибка</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Плохая подача кофе</a></div>
                    <div class="f-r">
                        <div class="price">от 790 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Напиток слишком холодный\горячий</a></div>
                    <div class="f-r">
                        <div class="price">от 890 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom1">
                <div class="usl">
                    <div class="f-l"><a href="#">Ухудшение качества приготовления</a></div>
                    <div class="f-r">
                        <div class="price">от 690 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom2">
                <div class="usl">
                    <div class="f-l"><a href="#">Делает кофе слабый и невкусный</a></div>
                    <div class="f-r">
                        <div class="price">от 450 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom3">
                <div class="usl">
                    <div class="f-l"><a href="#">Плохо течет кофе в кофемашине</a></div>
                    <div class="f-r">
                        <div class="price">от 750 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="zag2">ЦЕНЫ ПО УСЛУГАМ</div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Декальцинация кофемашины</a></div>
                    <div class="f-r">
                        <div class="price">от 650 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Декофенация кофемашины</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Забор кофемашины в сервис</a></div>
                    <div class="f-r">
                        <div class="price">от 0 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Диагностика кофемашины</a></div>
                    <div class="f-r">
                        <div class="price">от 0 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Замена\ремонт жерновов</a></div>
                    <div class="f-r">
                        <div class="price">от 690 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Замена микровыключателей</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Замена ТЭНа</a></div>
                    <div class="f-r">
                        <div class="price">от 790 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Замена уплотнительного кольца</a></div>
                    <div class="f-r">
                        <div class="price">от 590 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Комплексная профилактика кофемашины</a></div>
                    <div class="f-r">
                        <div class="price">от 900 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Обслуживание гидросистемы</a></div>
                    <div class="f-r">
                        <div class="price">от 950 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Обслуживание капучинатора </a></div>
                    <div class="f-r">
                        <div class="price">от 850 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="usl">
                    <div class="f-l"><a href="#">Обслуживание кофемолки</a></div>
                    <div class="f-r">
                        <div class="price">от 600 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom1">
                <div class="usl">
                    <div class="f-l"><a href="#">Обслуживание насоса</a></div>
                    <div class="f-r">
                        <div class="price">от 500 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom2">
                <div class="usl">
                    <div class="f-l"><a href="#">Чистка от масел кофе</a></div>
                    <div class="f-r">
                        <div class="price">от 800 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 border-bottom border-bottom3">
                <div class="usl">
                    <div class="f-l"><a href="#">Доставка кофемашины</a></div>
                    <div class="f-r">
                        <div class="price">от 600 <sup>руб</sup></div>
                        <a class="btn btn-success zakzv-btn" href="#">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец второго блока-->