<h2 class="zag">{{ service.name }} </h2>
{{ service.text|raw }}
<div class="cena-wrap">
    <div class="row">
        <div class="col-md-4">
            <span class="greytext">Цена</span>
            <div class="cena"><span>{{ service.price }} <sup>руб</sup></span></div>
        </div>
        <div class="col-md-8">
            <div class="btn-wrap"><button class="btn1 btn-vizovbespldiagn">Бесплатная диагностика</button></div>

        </div>
    </div>

</div>