<h2 class="zag">{{ service.name }} </h2>
<p>Проблемы с подачей воды в кофемашине связаны с неисправной или засорившейся накипью гидросистемой. Чтобы узнать истинную причину сбоя устройства, требуется грамотная диагностика, которую готовы предоставить мастера нашего сервисного центра. Диагностика покажет общее состояние кофейного устройства, а также установит источник неисправности. Устранение неполадки не займет много времени, так как наша компания существует на рынке услуг не первый год, поэтому наши специалисты много раз сталкивались с подобными проблемами, и знают способы их решения.</p>
<div class="cena-wrap">
    <div class="row">
        <div class="col-md-4">
            <span class="greytext">Цена</span>
            <div class="cena"><span>{{ service.price }} <sup>руб</sup></span></div>
        </div>
        <div class="col-md-8">
            <div class="btn-wrap"><button class="btn1 btn-vizovbespldiagn">Бесплатная диагностика</button></div>

        </div>
    </div>

</div>