<!--Начало блока WhatsApp-->
<div class="whatsappblock">
    <div class="container2 container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-3 col-sm-4 wt3d align-self-center">
                <a target="_blank" href="https://wa.me/79254061310">
                    <img src="{{ asset('/img/whatsapp/whatsapp-3d.png') }}" alt="*">
                    <img src="{{ asset('/img/whatsapp/wt-phone.png') }}" alt="*" class="wtphone">
                </a>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-8  align-self-center wtbtn">
                <a target="_blank" href="https://wa.me/79254061310">
                    <span>Узнать стоимость ремонта </span><br>
                    <b>по WHATS APP</b>
                </a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 align-self-center text-right dn760">
                <img src="{{ asset('/img/logo.png') }}" alt="*">
            </div>
        </div>
    </div>
</div>
<!--Конец блока WhatsApp-->