<link rel="stylesheet" href="{{ asset('css/whatsapp-button.css') }}">
<a class="wapopup" target="_blank" href="https://wa.me/79254061310" data-href="whatsapp">
    <div class="wapopup__content"><img src="{{ asset('img/whatsapp.svg') }}" alt=""></div>
</a>